.admin-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  color:#00ffcc ;
}

.header {
  background-color: #171818;
  text-align: center;
  padding: 10px;
  color:#00ffcc ;
}

.formulario {
  margin: 20px auto;
  background-color: #171818;
  border: 2px solid #00ffcc;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: red;
}


.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  
}

.tabla-usuarios th, .tabla-usuarios td {
  border: 2px solid #00ffcc;
  padding: 30px;
  text-align: center;
}

.tabla-usuarios th {
  background-color: #181a19;
  color: #00ffcc;;
}

.btn {
  background-color: #00ffcc;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #00e6b3;
}

.toast-mensaje {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ffcc;
  padding: 6px 12px;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 255, 204, 0.7);
  z-index: 9999;
  animation: fadeinout 2.5s forwards;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
