.crear-orden-container {
  padding: 2rem;
  color: #fff;
  background-color: #121212;
  max-width: 900px;
  margin: auto;
}

.titulo-orden, .titulo-formulario {
  color: #00ffc8;
  margin-top: 2rem;
}

.orden-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #333;
  padding: 1rem 0;
}

.orden-item img {
  width: 80px;
}

.total {
  font-size: 1.5rem;
  color: #00ffc8;
  margin-top: 1rem;
}

.formulario-pago {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.formulario-pago input,
.formulario-pago select {
  padding: 0.8rem;
  border: 1px solid #00ffc8;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 6px;
}

.btn-confirmar {
  background-color: #00ffc8;
  color: #000;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

.btn-confirmar:hover {
  background-color: #00e6b8;
}
